@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

body {
  @apply bg-white dark:bg-stone-950 transition-colors duration-300;
}

/* Base Geist font wrapper that uses a CSS variable for weight. */
.geist-font {
  --geist-weight: 400; /* default weight */
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--geist-weight);
  font-style: normal;
}

/* Utility classes to set the Geist font weight via className. */
.wght-100 {
  --geist-weight: 100;
}
.wght-200 {
  --geist-weight: 200;
}
.wght-300 {
  --geist-weight: 300;
}
.wght-400 {
  --geist-weight: 400;
}
.wght-500 {
  --geist-weight: 500;
}
.wght-600 {
  --geist-weight: 600;
}
.wght-700 {
  --geist-weight: 700;
}
.wght-800 {
  --geist-weight: 800;
}
.wght-900 {
  --geist-weight: 900;
}
